Django>=4.2,<5.0
dotenv
django-storages==1.14
gunicorn>=21.2
boto3>=1.30                # AWS SDK
whitenoise>=6.5             # optional, serve static files tanpa Nginx
djangorestframework>=3.15   # optional, kalau pakai DRF
django-environ>=0.10        # optional, alternatif dotenv
